
/* this is navigation saction  */
.navbar-iteam {
  display: flex;
  margin: 0 auto;
  
}
nav{
  width: 59%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.navbar-iteam {
  list-style-type: none;
  gap: 32px;
  align-items: center;
  
}
.navbar-iteam li a{
  text-decoration: none;
  font-size: medium;
  font-size: 16px;
}
.navbar-btn{
  background-color: #30B868;
  border-radius: 4px;
  border: 1px solid ;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff8f3;

}
.navbar-btn:hover{
  border-color: red;
  background-color: black;
}
/* this is banner section  */
#banner{
  background-image: url(./image/hero-bg.png);
  width: 100%;
  height: auto;
  background-size: cover;
}

.banner-content{
  margin: 0 auto;
  justify-items: center;
  padding: 120px 0 200px;
}
.early-access-btn{
  color: #30B868;
  font-weight: 500;
  font-size: 1.5em;
  padding: 8px 12px;
  border: 20px;
  border-radius: 1000px;
}
.early-access-btn:hover{
  border-color: red;
  background-color: black;
}
#dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  background-color: #30B868;
} 
.banner-heading h1 {
  color: white;
  font-size: 6em;
  margin-bottom: 20px;
  
  

}

.banner-heading h1 span{
  color: #30B868;
}


.banner-content p {
  color: white;
  font-size: 16px;
  font-size: 1.2em;
  line-height: 30px;
}

.banner-content .button {
  display: flex;
  padding:12px 16px;
  gap: 1em;
  
}
.banner-left-btn {
  padding: 16px ;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #30B868;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
  color: white;
}

.banner-left-btn img{
  font-size: 1.5em;
  margin-bottom: 1px;
}

.banner-left-btn:hover{
  border-color: red;
  background-color: black;
}
.banner-right-btn{
  color: white;
  padding: 16px ;
  font-size: 1em;
  border: 2px solid aqua;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
  background: transparent;
}
.play-icon{
  font-size: 18px;
}
.banner-right-btn:hover{
  border-color: red;
  background-color: black;
}


/* this is card section  */

#learn{
  padding-top: 36px;
}

#learn .learn-container{
  width:59%;
  max-width: 1140px;
  margin: 0 auto;
}
.section-heading{

  justify-items: center;
  margin: 0 auto;
}
.section-heading h1 {
font-weight: 700;
line-height: 30px;
}
.section-heading p{
  font-weight: 400;
  line-height: 20px;
}
#learn .learn-container .card-box{
  display: flex;
  gap:24px
  
}
.card-box .card{
  padding: 24px;
  max-width: 300px;
box-shadow: 0 6px 50px 0 #0000001f;

}
.card img{
  max-width: 34px;
  margin-bottom: 12px;
  background-color:deeppink;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  

}
.card h3{
  font-size: 1.5em;
  color: black;
  text-align: center;
}
.card h3 span{
  margin-left: 5px;
}
.card p{
  color: #627385;
line-height: 20px;
font-weight: 400;
text-align: center;
}
/* this is The Solutio section  */
#solution{
margin: 120px;
}

#solution .solution-container{
  width:59%;
  max-width: 1140px;
  margin: 0 auto;
  gap: 60px;
}
.solution-container .image-section img{
height: 600px;
  width: 500px;
  border-radius: 12px;
  
}
.solution-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.solution-container .heading h5{
  color: #30B868;
  padding-top: 102px;
  font-weight: 500;
  line-height: 20px;
}
.solution-container .heading h1{
  color: black;
  font-size: 2.5em;
  line-height: px;
  text-transform: capitalize;

}
.solution-container .heading p{
font-weight: 400;
line-height: 20px;
}
.solution-container .heading{
  display: block;

}
.breck{
  display: block;
}

.capture-section span{
  padding: 5px ;
  display: flex;

}
