
.navbar-iteam {
  display: flex;
  
  
}
nav{
  width: 59%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.navbar-iteam{
  list-style-type: none;
  gap: 32px;
  align-items: center;
  
}
.navbar-btn{
  background-color: #30B868;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff8f3;
}
